.container {
  margin: auto;
  width: 100%;
  max-width: 1440px;
  padding: $size-md;

  @include breakpoint-md {
    padding: calc($size-2xl - 2px) calc($size-3xl + $size-lg);
  }
}

#app {
  display: flex;
  gap: $size-3xl;
  flex-direction: column;

  @include breakpoint-md {
    gap: calc($size-3xl + $size-lg);
  }
}
