#app {
  margin: auto;
  max-width: 1440px;
  padding: $size-md;
  display: flex;
  flex-direction: column;
  gap: $size-3xl;

  @include breakpoint-md {
    gap: calc($size-3xl + $size-lg);
    padding: calc($size-2xl - 2px) calc($size-3xl + $size-lg);
  }
}
