.button {
  @include button(14px);
}

.button-outlined {
  @include button-outlined(14px);
}

.button-sm {
  @include button(10px);
}

.button-outlined-sm {
  @include button-outlined(10px);
}

.button-transparent {
  @include button-transparent();
}

@include when-theme-neobrutalism {
  button,
  .button,
  .badge {
    box-shadow: var(--shadow);
    transform: $transition-fast;
    border-radius: var(--radius-half);
    text-transform: uppercase !important;
    border: 1px solid var(--color-contrast);
    background-color: var(--color-success);
    color: var(--color-contrast) !important;
    font-weight: var(--weight-bold) !important;

    &:focus {
      box-shadow: var(--shadow-focus);
    }
  }
}
