.app-footer {
  padding: var(--gutters) 0;
  margin-bottom: var(--gutters);
  border-top: $border-xl;
  border-bottom: $border-xl;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: var(--gutters);

  .app-footer__row {
    display: flex;
    gap: var(--gutters);
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint-md {
      flex-direction: row;
    }
  }

  .app-footer__menus {
    flex-grow: 1;
    max-width: 768px;
    gap: var(--gutters);
    grid-template-columns: repeat(3, 1fr);
    display: none;

    @include breakpoint-md {
      display: grid;
    }
  }

  .app-footer__menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  > nav {
    @include breakpoint-sm {
      padding: 0 var(--gutters);
    }

    ul {
      gap: 1rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }
}

// Neobrutalist theme
[data-theme="neobrutalist"] {
  .app-footer {
    margin-bottom: 0;
    padding: var(--padding);
    border-radius: var(--radius);
    border: 1px solid var(--color-contrast);

    &__row > .app-footer__menu {
      @include breakpoint-md {
        padding: var(--padding);
        border-radius: var(--radius);
        border: 1px solid var(--color-contrast);
      }
    }
  }
}
