.app-loader {
  width: 100%;
  height: 100vh;
  transition: $transition-slow;
  background-color: var(--color-foreground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: $font-serif;
  font-size: $size-xl;
  height: 20rem;

  @include breakpoint-md {
    height: 40rem;
  }
}
