.app-loader {
  width: 100%;
  height: 100vh;
  background-color: var(--color-foreground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: $font-serif;
  font-size: $size-xl;
  height: calc(100vh - 20rem);

  img {
    display: none !important;
  }

  @include breakpoint-lg {
    height: calc(100vh - 30rem);
  }
}
