.app-section {
  display: flex;
  flex-direction: column;

  .app-section__heading {
    @include text-lead(40px);
    text-align: center;
    border-top: $border-xl;
    border-bottom: $border-xl;
    padding: 11px 0;
  }

  // Margin the content if heading exists.
  .app-section__heading + .app-section__content {
    margin-top: var(--gutters);
  }

  .app-section__content.padded {
    padding: var(--gutters);
  }
}

@include when-theme-neobrutalism {
  .app-section {
    &__content {
      background-color: transparent;

      &.padded {
        padding: 0;
      }
    }

    &:not(:first-child) {
      @include neobrutalist-box();
    }
  }
}
