@import "./views/full";
@import "./views/list";
@import "./views/story";
@import "./views/video";
@import "./views/gallery";
@import "./views/circles";
@import "./views/inverted";
@import "./views/highlights";

.app-article {
  display: flex;
  position: relative;
  gap: 13px;

  .app-article__media {
    overflow: hidden;
    position: relative;
    box-sizing: content-box;
    flex-shrink: 0;

    img,
    video {
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      transform-origin: center;
      transition: $transition-slow !important;

      // &::after {
      //   content: "";
      //   position: absolute;
      //   z-index: 2;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   background: white;
      // }

      // Opacity is 0 while loading.
      &.loading {
        opacity: 0;
      }
    }

    .app-article__rating {
      position: absolute;
      bottom: 0;
      left: 0;

      .text {
        transform: translateY(2px);
      }
    }
  }

  .app-article__body {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 15px;

    .app-article__badge {
      position: relative;

      .app-article__label {
        z-index: 1;
        position: relative;
        transition: $transition-slow;
      }

      .app-article__arrow {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: $transition-slow;
      }
    }

    .app-article__title {
      text-decoration: none;
      color: var(--color-contrast);
      transition: $transition-fast;
    }

    .app-article__description {
      @include text-truncate(3);
    }
  }

  .app-article__anchor {
    flex-shrink: 0;
    align-self: center;
    padding: $size-md $size-lg;
    border-color: var(--color-background);
    background-color: var(--color-success);

    &::before {
      content: "";
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    @include breakpoint-lg {
      &::before {
        display: none;
      }

      opacity: 0;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  // Article hover/focus states
  &:is(:hover, :focus-within) {
    .app-article__media {
      img,
      video {
        transform: scale(1.05);
      }
    }

    .app-article__body {
      .app-article__badge {
        .app-article__label {
          transform: translateX(-16px);
        }

        .app-article__arrow {
          transform: translateX(calc(100% - 16px));
        }
      }
    }
  }
}

@include when-theme-neobrutalism {
  .app-article {
    @include neobrutalist-box();
    background-color: var(--color-background);

    &:focus-within {
      box-shadow: var(--shadow-focus);
    }

    &:is(:hover, :focus-within) {
      .app-article__arrow {
        transform: translateX(calc(100% - 8px)) !important;
      }

      .app-article__media {
        img,
        video {
          transform: scale(1);
        }
      }
    }

    .app-article__thumbnail {
      overflow: hidden;
      border: 1px solid var(--color-contrast);

      &,
      img {
        border-radius: var(--radius);
      }
    }

    .app-article__anchor {
      border: 1px solid var(--color-contrast);

      &:is(:hover, :focus-within) {
        background-color: var(--color-accent);
      }
    }
  }
}
