body[data-theme="neobrutalist"] {
  // Typography.
  --font-sans: "Space Grotesk", sans-serif;
  --font-serif: "Space Grotesk", sans-serif;
  --font-lead: "Space Grotesk", sans-serif;

  // Weights.
  --weight-normal: 400;
  --weight-bold: 700;

  // Color HSLs
  --color-accent-hsl: 200, 100%, 60%;
  --color-failure-hsl: 0, 100%, 50%;
  --color-success-hsl: 158, 100%, 62%;
  --color-accent-secondary-hsl: 302, 100%, 93%;
  --color-accent-tertiary-hsl: 302, 100%, 93%;

  // Colors
  --color-accent: hsl(var(--color-accent-hsl));
  --color-failure: hsl(var(--color-failure-hsl));
  --color-success: hsl(var(--color-success-hsl));
  --color-accent-secondary: hsl(var(--color-accent-secondary-hsl));
  --color-accent-tertiary: hsl(var(--color-accent-tertiary-hsl));

  // Dark Color HSLs
  --color-contrast-hsl: 0, 0%, 0%;
  --color-foreground-hsl: 0, 0%, 100%;
  --color-background-hsl: 0, 0%, 100%;
  --color-overlay-hsl: var(--color-accent-secondary-hsl);

  // Dark Colors
  --color-contrast: hsl(var(--color-contrast-hsl));
  --color-foreground: hsla(var(--color-foreground-hsl), 0.2);
  --color-background: hsl(var(--color-background-hsl));
  --color-overlay: hsl(var(--color-overlay-hsl));
}
